php_flag magic_quotes_gpc Off
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^data(/?|/.*)$ - [F]
RewriteRule ^do/([^\?]+)$ php/controller.php?task=$1&%{QUERY_STRING}
RewriteRule ^error$ error_type.php?%{QUERY_STRING}
