/* Icons */
.iconAllFiles          { background-image: url(./img/view-list-tree.png)        !important;}
.iconAdmin             { background-image: url(./img/face-wink.png)             !important;}
.iconAdd               { background-image: url(./img/list-add.png)              !important;}
.iconArrowLeft         { background-image: url(./img/arrow_left.png)            !important;}
.iconArrowRight        { background-image: url(./img/arrow_right.png)           !important;}
.iconBook              { background-image: url(./img/documentation.png)         !important;}
.iconBugs              { background-image: url(./img/bug.png)                   !important;}
.iconBuildStatus       { background-image: url(./img/run-build-install-root.png)!important;}
.iconChat              { background-image: url(./img/konversation.png)          !important;}
.iconCheckBuild        { background-image: url(./img/run-build.png)             !important;}
.iconCheckDoc          { background-image: url(./img/utilities-terminal.png)    !important;}
.iconCheckEntities     { background-image: url(./img/insert-link.png)           !important;}
.iconClose             { background-image: url(./img/cancel.png)                !important;}
.iconCloseOthersTabs   { background-image: url(./img/tab_delete.png)            !important;}
.iconCommitFileVcs     { background-image: url(./img/mail-mark-notjunk.png)     !important;}
.iconConf              { background-image: url(./img/configure.png)             !important;}
.iconDiffView          { background-image: url(./img/code-class.png)            !important;}
.iconDownloadDiff      { background-image: url(./img/download-later.png)        !important;}
.iconEditor, .iconEdit            { background-image: url(./img/document-edit.png)         !important;} /*@TODO: Remove the alias .iconEditor later */
.iconEditInNewTab      { background-image: url(./img/tab-new.png)               !important;}
.iconErasePersonalData { background-image: url(./img/list-remove-user.png)      !important;}
.iconError             { background-image: url(./img/exclamation.gif)           !important;}
.iconExternalData      { background-image: url(./img/svn-update.png)            !important;}
.iconFacebook          { background-image: url(./img/icon_facebook.png)         !important;}
.iconFiles             { background-image: url(./img/page.png)                  !important;}
.iconFilesError        { background-image: url(./img/security-medium.png)       !important;}
.iconFilesNeedReviewed { background-image: url(./img/document-edit.png)         !important;}
.iconFilesNeedTranslate{ background-image: url(./img/page_add.png)              !important;}
.iconFilesToDisplay    { background-image: url(./img/video-display.png)         !important;}
.iconFilesNeedUpdate   { background-image: url(./img/arrow_refresh.png)         !important;}
.iconFinishRefresh     { background-image: url(./img/accept.png)                !important;}
.iconFolderOpen        { background-image: url(./img/folder-open.gif)           !important;}
.iconFolderClose       { background-image: url(./img/folder.gif)                !important;}
.iconFolderNew         { background-image: url(./img/folder-favorites.png)      !important;}
.iconGoogle            { background-image: url(./img/google.png)                !important;}
.iconGraphic           { background-image: url(./img/chart_pie.png)             !important;}
.iconHome              { background-image: url(./img/go-home.png)                !important;}
.iconHelp              { background-image: url(./img/help-browser.png)          !important;}
.iconIndent            { background-image: url(./img/format-indent-more.png)    !important;}
.iconInfo              { background-image: url(./img/help-about.png)            !important;}
.iconInsertCode        { background-image: url(./img/page_code.png)             !important;}
.iconLineWrapping      { background-image: url(./img/line-wrapping.png)         !important;}
.iconLogOut            { background-image: url(./img/system-shutdown.png)       !important;}
.iconMenu              { background-image: url(./img/edit-text-frame-update.png)!important;}
.iconMailing           { background-image: url(./img/email_open_image.png)      !important;}
.iconNewFiles          { background-image: url(./img/page_add.png)              !important;}
.iconNewWord           { background-image: url(./img/abiword.png)               !important;}
.iconNotInEn           { background-image: url(./img/delete.png)                !important;}
.iconOpenInTab         { background-image: url(./img/tab-new-background.png)    !important;}
.iconPageDelete        { background-image: url(./img/user-trash-full.png)       !important;}
.iconPatchAlert        { background-image: url(./img/bell.png)                  !important;}
.iconPatch             { background-image: url(./img/text-x-patch.png)          !important;}
.iconPendingCommit     { background-image: url(./img/svn-commit.png)            !important;} /*TODO : need delete*/
.iconPendingPatch      { background-image: url(./img/text-x-patch.png)          !important;} /*TODO : need delete*/
.iconProgress          { background-image: url(./img/ui-progress-bar.png)       !important;}
.iconRedo              { background-image: url(./img/edit-redo.png)             !important;}
.iconRefresh           { background-image: url(./img/arrow_refresh.png)         !important;}
.iconRun               { background-image: url(./img/run-build.png)             !important;}
.iconSaveAsFile        { background-image: url(./img/text-x-patch.png)          !important;}
.iconSaveFile          { background-image: url(./img/save.png)                  !important;}
.iconScrollBar         { background-image: url(./img/ui-scroll-bar.png)         !important;}
.iconSendEmail         { background-image: url(./img/mail-message-new.png)      !important;}
.iconSpellCheck        { background-image: url(./img/tools-check-spelling.png)  !important;}
.iconStartRefresh      { background-image: url(./img/go-last.png)               !important;}
.iconSummary           { background-image: url(./img/align-vertical-bottom-out.png) !important;}
.iconSwitchLang        { background-image: url(./img/system-switch-user.png)    !important;}
.iconTabError          { background-image: url(./img/security-medium.png)       !important;}
.iconTabLink           { background-image: url(./img/page_link.png)             !important;}
.iconTabNeedReviewed   { background-image: url(./img/document-edit.png)         !important;}
.iconTabNeedTranslate  { background-image: url(./img/page_add.png)              !important;}
.iconTabNeedUpdate     { background-image: url(./img/arrow_refresh.png)         !important;}
.iconTabView           { background-image: url(./img/eye.png)                   !important;}
.iconTranslator        { background-image: url(./img/group.png)                 !important;}
.iconTrash             { background-image: url(./img/delete.png)                !important;}
.iconThemes            { background-image: url(./img/fill-color.png)            !important;}
.iconUI                { background-image: url(./img/view-choose.png)           !important;}
.iconUndo              { background-image: url(./img/edit-undo.png)             !important;}
.iconUpdateFileVcs     { background-image: url(./img/database_refresh.png)      !important;}
.iconUserNotes         { background-image: url(./img/knotes.png)                !important;}
.iconUser              { background-image: url(./img/user.png)                  !important;}
.iconView              { background-image: url(./img/eye.png)                   !important;}
.iconViewDiff          { background-image: url(./img/code-class.png)            !important;}
.iconVCSLog            { background-image: url(./img/text-x-log.png)            !important;}
.iconWinManageLog      { background-image: url(./img/text-x-log.png)            !important;}
.iconWorkInProgress    { background-image: url(./img/applications-development.png) !important;}
.iconXml               { background-image: url(./img/text-xml.png)              !important;}
.iconZoom              { background-image: url(./img/zoom-in.png)               !important;}
