.iconKey {
    background-image: url(./img/dialog-password.png) !important;
}
.iconHelp {
    background-image: url(./img/help-browser.png) !important;
}
.iconHelp2 {
    background-image: url(./img/help-about.png) !important;
}

.iconGoogle {
    background-image: url(./img/google.png) !important;
}
.iconFacebook {
    background-image: url(./img/icon_facebook.png) !important;
}
.iconTwitter {
    background-image: url(./img/icon_twitter.png) !important;
}

.x-form-field-wrap .project-php, .x-form-field-wrap .project-pear {
    top: 5px;
    left: 4px;
}

.project-php {
    background-image: url(./img/project_php.png) !important;
    height: 12px;
    width: 21px;
}

.project-pear {
    background: url(./img/project_pear.png) no-repeat top left;
    height: 11px;
    width: 11px;
}

#app-title {
    margin: 5px 0px 5px 110px;
    font-weight: bold;
    font-size: 20px;
}

#app-description {
    margin-left: 110px;
    font: bold 13px tahoma, arial, helvetica;
    color: #444;
}

#app-logo {
    float: left;
}

#auth-login img {
    margin: 5px;
    padding: 2px;
    border: 2px solid transparent;
}

#auth-login img:hover {
  opacity: 1 !important;
}

#login-form-project {
    padding-left: 26px !important;
}

/* {{{ ElePHPants */

#elephpants-images {
    height: 75px;
    text-align: center;
    white-space: nowrap;
}

#elephpants {
    margin: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.oauth-enable {
    border: 2px solid #94b7e6 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.oauth-disable {
    opacity: 0.5;
}


#elephpants img {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

#elephpants:hover img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

#elephpants img:hover,
#elephpants img:focus {
  opacity: 1;
}
/* }}} */
