.grid-search {
    background-image: url(../themes/img/zoom.png) !important;
} .MainInfoTabPanel {
    padding: 10px !important;
} .x-form-check-group .x-form-check-wrap, .x-form-radio-group .x-form-radio-wrap {
    height: auto;
} .ext-ie .x-form-check-group .x-form-check-wrap, .ext-ie .x-form-radio-group .x-form-radio-wrap {
    height: auto;
} .x-form-check-wrap, .x-form-radio-wrap {
    padding: 1px 0 3px;
    line-height: 18px;
} .ext-ie .x-form-check-wrap, .ext-ie .x-form-radio-wrap {
    padding-top: 3px;
} .ext-strict .ext-ie7 .x-form-check-wrap, .ext-strict .ext-ie7 .x-form-radio-wrap {
    padding-bottom: 1px;
} .x-form-check-wrap-inner, .x-form-radio-wrap-inner {
    display: inline;
    padding: 0;
} .x-form-check, .x-form-radio {
    height: 13px;
    width: 13px;
    vertical-align: bottom;
    margin: 2px 0;
} .ext-ie .x-form-check, .ext-ie .x-form-radio {
    margin-top: 1px;
} .ext-strict .ext-ie7 .x-form-check, .ext-strict .ext-ie7 .x-form-radio {
    margin-bottom: 4px;
} .ext-opera .x-form-check, .ext-opera .x-form-radio {
    margin-top: 3px;
} .x-form-check-focus .x-form-check, .x-form-check-over .x-form-check, .x-form-check-focus .x-form-radio, .x-form-check-over .x-form-radio {
    background-position: -13px 0;
} .x-form-check-down .x-form-check, .x-form-check-down .x-form-radio {
    background-position: -26px 0;
} .x-item-disabled .x-form-check, .x-item-disabled .x-form-radio {
    background-position: -39px 0;
} .x-form-check-checked, .x-form-radio-checked {
    background-position: 0 -13px;
} .x-form-check-focus .x-form-check-checked, .x-form-check-over .x-form-check-checked, .x-form-check-focus .x-form-radio-checked, .x-form-check-over .x-form-radio-checked {
    background-position: -13px -13px;
} .x-form-check-down .x-form-check-checked, .x-form-check-down .x-form-radio-checked {
    background-position: -26px -13px;
} .x-item-disabled .x-form-check-checked, .x-item-disabled .x-form-radio-checked {
    background-position: -39px -13px;
} .x-form-check-wrap-inner input, .x-form-radio-wrap-inner input {
    position: absolute;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha( opacity = 0);

-moz-opacity:
    0;

opacity:
    0;
} #phd-oe-about {
    text-align: center;
    margin: 70px 0px 50px 0;
} #phd-oe-about-info {
    font-size: 10px;
    text-align: center;
    color: #849090;
} #phd-oe-credit ul {
    list-style: disc url(../themes/img/arrow_right2.png) inside;
} #phd-oe-credit li {
    margin: 10px;
    padding: 0;
} .phd-oe-credit-info {
    margin-left: 30px;
    padding-top: 7px;
    color: #849090;
} .CodeMirror-line-numbers {
    width: 1.7em;
    background-color: #eee;
    text-align: right;
    padding-right: .3em;
    padding-top: .4em;
    color: #aaa;
    font-size: 10pt !important;
    font-family: monospace;
} .key {
    background-image: url(../themes/img/key.png) !important;
} .flag-ar {
    background-image: url(../themes/img/flags/ar.png) !important;
} .flag-bg {
    background-image: url(../themes/img/flags/bg.png) !important;
} .flag-cs {
    background-image: url(../themes/img/flags/cz.png) !important;
} .flag-da {
    background-image: url(../themes/img/flags/da.png) !important;
} .flag-de {
    background-image: url(../themes/img/flags/de.png) !important;
} .flag-el {
    background-image: url(../themes/img/flags/el.png) !important;
} .flag-en {
    background-image: url(../themes/img/flags/en.png) !important;
} .flag-es {
    background-image: url(../themes/img/flags/es.png) !important;
} .flag-fa {
    background-image: url(../themes/img/flags/fa.png) !important;
} .flag-fi {
    background-image: url(../themes/img/flags/fi.png) !important;
} .flag-fr {
    background-image: url(../themes/img/flags/fr.png) !important;
} .flag-hk {
    background-image: url(../themes/img/flags/hk.png) !important;
} .flag-he {
    background-image: url(../themes/img/flags/he.png) !important;
} .flag-hu {
    background-image: url(../themes/img/flags/hu.png) !important;
} .flag-it {
    background-image: url(../themes/img/flags/it.png) !important;
} .flag-ja {
    background-image: url(../themes/img/flags/ja.png) !important;
} .flag-kr {
    background-image: url(../themes/img/flags/kr.png) !important;
} .flag-nl {
    background-image: url(../themes/img/flags/nl.png) !important;
} .flag-no {
    background-image: url(../themes/img/flags/no.png) !important;
} .flag-pl {
    background-image: url(../themes/img/flags/pl.png) !important;
} .flag-pt {
    background-image: url(../themes/img/flags/pt.png) !important;
} .flag-pt_BR {
    background-image: url(../themes/img/flags/pt_BR.png) !important;
} .flag-ro {
    background-image: url(../themes/img/flags/ro.png) !important;
} .flag-ru {
    background-image: url(../themes/img/flags/ru.png) !important;
} .flag-sl {
    background-image: url(../themes/img/flags/sl.png) !important;
} .flag-se {
    background-image: url(../themes/img/flags/se.png) !important;
} .flag-sk {
    background-image: url(../themes/img/flags/sk.png) !important;
} .flag-sv {
    background-image: url(../themes/img/flags/sv.png) !important;
} .flag-tr {
    background-image: url(../themes/img/flags/tr.png) !important;
} .flag-tw {
    background-image: url(../themes/img/flags/tw.png) !important;
} .flag-zh {
    background-image: url(../themes/img/flags/zh.png) !important;
} .closeOthersTabs {
    background-image: url(../themes/img/tab_delete.png) !important;
} .x-tree-node .modified a span {
    color: red;
} .x-grid3-col-GridBugTitle {
    color: #385F95;
    font-weight: bold;
} .bug-desc {
    margin: 5px 5px 5px 20px;
    padding-left: 5px;
    border-left: 2px solid #72A756;
} .ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 14px;
}

.NotInEn {
    background-image: url(../themes/img/delete.png) !important;
}

/* X-BROWSER-WARNING: this is not being honored by Safari */ .ux-icon-combo-input {
    padding-left: 25px;
} .x-form-field-wrap .ux-icon-combo-icon {
    top: 3px;
    left: 5px;
} .ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 3px 50% ! important;
    padding-left: 24px ! important;
} #wizard-step-1, #wizard-step-2, #wizard-step-3 {
    margin-top: 5px;
    padding-left: 20px;
} .wizard-step-before {
    background: transparent url(../themes/img/arrow_right.png) no-repeat 0 0;
    opacity: 0.5;
    padding-bottom: 5px;
} .wizard-step-working {
    background: transparent url(../themes/img/loading.gif) no-repeat 0 0;
    padding-bottom: 5px;
} .wizard-wait {
    display: none;
} .wizard-show {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
} .wizard-step-done {
    background: transparent url(../themes/img/accept.png) no-repeat 0 0;
    font-weight: bold;
    padding-bottom: 5px;
} #home-panel {
    margin: 10px;
} #home-panel table {
    width: 100%;
    vertical-align: top;
} #home-panel table tr {
    vertical-align: top;
} .home-translator-title, .home-graphic-title, .home-mailing-title {
    font-weight: bold;
    font-size: 11px;
    color: #3764A0;
    font-family: tahoma, arial, helvetica, sans-serif;
    padding: 4px 4px 4px 20px;
} .home-graphic-title {
    background: transparent url(../themes/img/chart_pie.png) no-repeat 0 0;
} .home-mailing-title {
    background: transparent url(../themes/img/email_open_image.png) no-repeat 0 0;
} .FilesNeedUpdate {
    background: transparent url(../themes/img/arrow_refresh.png) no-repeat 0 0;
} .FilesNeedReviewed {
    background: transparent url(../themes/img/page_edit.png) no-repeat 0 0;
} .CheckDoc {
    background-image: url(../themes/img/lightbulb_add.png) !important;
} .AllFiles {
    background: transparent url(../themes/img/application_side_tree.png) no-repeat 0 0;
} .PendingCommit {
    background: transparent url(../themes/img/arrow_down.png) no-repeat 0 0;
} .PendingPatch {
    background: transparent url(../themes/img/arrow_switch.png) no-repeat 0 0;
} .MainMenu {
    background-image: url(../themes/img/application_home.png) !important;
    background-position: 2px 4px !important;
} .FilesError {
    background: transparent url(../themes/img/error_delete.png) no-repeat 0 0;
} .iconBugs {
    background-image: url(../themes/img/bug.png) !important;
} .iconIndent {
    background-image: url(../themes/img/text_indent.png) !important;
} .saveFile {
    background-image: url(../themes/img/disk.png) !important;
} .saveAsFile {
    background-image: url(../themes/img/table_save.png) !important;
} .patchAlert {
    background-image: url(../themes/img/bell.png) !important;
} .iconConf {
    background-image: url(../themes/img/wrench_orange.png) !important;
} .refresh {
    background-image: url(../themes/img/arrow_refresh.png) !important;
} .checkBuild {
    background-image: url(../themes/img/bug_delete.png) !important;
} .startRefresh {
    background-image: url(../themes/img/hourglass_go.png) !important;
} .finishRefresh {
    background-image: url(../themes/img/accept.png) !important;
} .openInTab {
    background-image: url(../themes/img/tab_go.png) !important;
} .iconErasePersonalData {
    background-image: url(../themes/img/layout_delete.png) !important;
} .iconTranslator {
    background-image: url(../themes/img/group.png) !important;
} .iconLogOut {
    background-image: url(../themes/img/door_in.png) !important;
} .iconTabLink {
    background-image: url(../themes/img/page_link.png) !important;
} .iconTabNeedUpdate {
    background-image: url(../themes/img/arrow_refresh.png) !important;
} .iconDelete {
    background-image: url(../themes/img/delete.png) !important;
} .iconFolderOpen {
    background-image: url(../themes/img/folder-open.gif) !important;
} .iconFolderClose {
    background-image: url(../themes/img/folder.gif) !important;
} .iconTabNeedReviewed {
    background-image: url(../themes/img/page_edit.png) !important;
} .iconTabError {
    background-image: url(../themes/img/error_delete.png) !important;
} .iconUpdateFileCvs {
    background-image: url(../themes/img/database_refresh.png) !important;
} .iconCommitFileCvs {
    background-image: url(../themes/img/database_go.png) !important;
} .iconViewDiff {
    background-image: url(../themes/img/chart_organisation.png) !important;
} .iconPageDelete {
    background-image: url(../themes/img/page_delete.png) !important;
} .iconHelp {
    background-image: url(../themes/img/help.png) !important;
} .iconSendEmail {
    background-image: url(../themes/img/email_edit.png) !important;
} .iconInsertCode {
    background-image: url(../themes/img/page_code.png) !important;
} .confStatusBar {
    background: transparent url(../themes/img/help.png) no-repeat 0 2px;
    padding-left: 20px !important;
} .winManageLog {
    background-image: url(../themes/img/page_white_gear.png) !important;
} #main-panel .x-layout-collapsed-west {
    background-image: url(../themes/img/cvs_log.png);
    background-repeat: no-repeat;
    background-position: center;
} #main-panel .x-layout-collapsed-east {
    background-image: url(../themes/img/en_version.png);
    background-repeat: no-repeat;
    background-position: center;
} #main-panel .x-layout-collapsed-north {
    background-image: url(../themes/img/diff_cvs.png);
    background-repeat: no-repeat;
    background-position: center;
} .x-layout-collapsed-east-error-desc {
    background-image: url(../themes/img/error_description.png) !important;
    background-repeat: no-repeat;
    background-position: center;
} .x-layout-collapsed-east-patch-desc {
    background-image: url(../themes/img/patch.png) !important;
    background-repeat: no-repeat;
    background-position: center;
} .file-need-commit {
    color: red !important;
    font-weight: bold !important;
} .file-critical {
    color: black !important;
    font-weight: bold !important;
    background-color: #fddcdc !important;
} .summary_1 {
    color: black !important;
    font-weight: bold !important;
    background-color: #68D888 !important;
} .summary_2 {
    color: black !important;
    font-weight: bold !important;
    background-color: #EEE8AA !important;
} .summary_3 {
    color: black !important;
    font-weight: bold !important;
    background-color: #FF6347 !important;
} .summary_4 {
    color: black !important;
    font-weight: bold !important;
    background-color: #DCDCDC !important;
} .summary_5 {
    color: black !important;
    font-weight: bold !important;
    background-color: #DCDCDC !important;
} .diff-content table.code {
    border: 1px solid #ddd;
    border-spacing: 0;
    border-top: 0;
    empty-cells: show;
    font-size: 12px;
    line-height: 110%;
    padding: 0;
    margin: 0;
    width: 100%;
} .diff-content table.code th {
    background: #eed;
    color: #886;
    font-weight: normal;
    padding: 0 .5em;
    text-align: right;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #998;
    font-size: 11px;
    width: 35px;
} .diff-content table.code td {
    background: #fff;
    font: normal 11px monospace;
    overflow: auto;
    padding: 1px 2px;
} .diff-content table.code td.del {
    background-color: #FDD;
    border-left: 1px solid #C00;
    border-right: 1px solid #C00;
} .diff-content table.code td.del.first {
    border-top: 1px solid #C00;
} .diff-content table.code td.ins {
    background-color: #DFD;
    border-left: 1px solid #0A0;
    border-right: 1px solid #0A0;
} .diff-content table.code td.ins.first {
    border-top: 1px solid #0A0;
} .diff-content table.code td.del_end {
    border-top: 1px solid #C00;
} .diff-content table.code td.ins_end {
    border-top: 1px solid #0A0;
} .diff-content table.code td.truncated {
    background-color: #f7f7f7;
} .diff-content table.code td.line {
    background: #eed url(../themes/img/help.png) no-repeat 0 0;
    padding-left: 20px;
    color: #886;
    border: 1px solid #d7d7d7;
} .check-build-content {
    margin: 5px 5px;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
} #confMenu {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
} #confMenu .thumb {
    /*background: #dddddd;*/
    padding: 3px;
} #confMenu .thumb-wrap {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 153px;
    text-align: center;
    cursor: pointer;
} #confMenu .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
} #confMenu .x-view-over {
    border: 1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
} #confMenu .x-view-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
} #confMenu .x-view-selected .thumb {
    background: transparent;
} #confMenu .x-view-selected span {
    color: #1A4D8F;
} .res-block {
    background: transparent url(../themes/img/block-top.gif) no-repeat scroll 0 0;
    margin-bottom: 15px;
    padding-top: 5px;
    width: 280px;
} .res-block-inner {
    background: transparent url(../themes/img/block-bottom.gif) no-repeat scroll left bottom;
    padding: 3px 11px;
} .res-block h3 {
    background: transparent url(../themes/img/user.png) no-repeat 0 1px;
    padding-left: 20px;
    padding-top: 3px;
    -x-system-font: none;
    color: #555555;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    line-height: normal;
    font-weight: normal;
    margin-bottom: 8px;
} .res-block em {
    font-weight: bold;
} .ux-grid3-row-action-cell .x-grid3-cell-inner {
    padding: 1px 0 0 0;
} .ux-grid3-row-action-cell .x-grid3-cell-inner div {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
} .check_doc_cell {
    background-color: #DEDEDE;
    text-align: right;
}

.file-needcommit-update {
    background-image: url(../themes/img/arrow_refresh.png) !important;
    background-repeat: no-repeat !important;
 
}
.file-needcommit-delete {
    background-image: url(../themes/img/delete.png) !important;
    background-repeat: no-repeat !important;
}
.file-needcommit-new {
    background-image: url(../themes/img/lightbulb_add.png) !important;
    background-repeat: no-repeat !important;
}